/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Basic Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Setting */

body {
  padding: 10px;

  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;

  line-height: 1.7;

  color: #777;
}

/* !--------------- HEADER ---------------! */

.header {
  height: 95vh;

  /* !----- Background -----! */

  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(/img/hero.jpg);
  background-position: top;
  background-size: cover;

  /* !----- Clip -----! */

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
